<div style="text-align: center; font-size: 200%; margin-top:15px;">Vote for cuter cat :)</div>
<div class="row">
  <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: false}"></ngx-loading>
  <div class="column">
    <div class="cat-name">{{firstCat.name}}</div>
    <img [src]="firstCat.url" (click)="logCatVote(firstCat)" (load)="waitForLoad()">
  </div>
  <div class="column">
    <div class="cat-name">{{secondCat.name}}</div>
    <img [src]="secondCat.url" (click)="logCatVote(secondCat)" (load)="waitForLoad()">
  </div>
</div>
