<div style="min-height: 800px;margin:-10px;">

  <div parallax class="some-parallax">
    <a href="#"><div class="center">CAT VOTER</div></a>
  </div>

  <!--<ng-parallax img="../assets/cat-banner.png" class="some-class"></ng-parallax>-->

  <mat-tab-group>
    <mat-tab label="Vote">
      <app-votes></app-votes>
    </mat-tab>
    <mat-tab label="Stats">
      <app-stats></app-stats>
    </mat-tab>
    <mat-tab label="Top Cats">
      <app-top></app-top>
    </mat-tab>
  </mat-tab-group>
</div>
